@charset "utf-8";

html {font: 14px/1.5 'Microsoft Yahei', '微软雅黑', \5FAE\8F6F\96C5\9ED1, '宋体', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica;color:#8d8d8d;overflow-x:hidden;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {margin:0;padding:0;}
img {border:none;width: 100%;height: auto;}
em ,i {font-style:normal;font-weight:normal;}
ul, ol, li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:inherit;font-weight:normal;}
input, select, textarea, button {outline:none;margin:0;padding:0;vertical-align:middle;font-family:"微软雅黑";font-size:14px;color:#8d8d8d;}
label,button {cursor: pointer;}
button{background: white;border: 1px solid #CCCCCC;border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;-webkit-border-radius: 2px;}
input{font-size: 13px;text-indent: 2px;}
a {text-decoration:none;color:#8d8d8d;}
a:hover {text-decoration:none;color:#8d8d8d;}

input[type="submit"],input[type="reset"],input[type="button"],input,textarea {
   /* -webkit-appearance: none;*/
    resize: none;
}
*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clear {clear:both;}
.clearfix:after {content:'';display:block;height:0;visibility:hidden;clear:both;}
.clearfix {zoom:1;}

.m20 {margin-top:20px;}
.m10 {margin-top:10px;}
.fl{float: left;}
.fr{float: right;}
/* 初始化CSS END */

/*开始导航*/
body{
	background-image:linear-gradient(#000 ,#000),url(../img/gl2.jpg);
	background-size:cover ;
	background-blend-mode: hue;
}
.w1100{
	width: 900px;
	margin: 0 auto;
	background: #FEB822;
	min-height: 1900px;
	overflow: hidden;
}
.w900{
	width: 900px;
	margin: 0 auto;
}

nav{
	background: #310F0D;
	position: sticky;
	top: 0;
    z-index: 2;
    height: 63px;
}
nav ul{
    width: 900px;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    bottom: 0;
    margin: auto;
    height: 50px;
}
nav ul li{
	float: left;
	margin: 0 6%;	
}
nav ul li a{
	width: 60px;
	height: 50px;
	display: inline-block;
	border: 2px solid #310F0D;
	border-radius: 50%;
	position: relative;
	background: #FBD647;
}
nav ul li a img{
	width: 100%;
}
nav li a:hover{
	animation:rotate 0.15s linear infinite;
}
@keyframes rotate {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
    background: #FBD647;
  }
}

.active{
    width: 80%;
    height: 270px;
    border-radius: 5px;
    background: #310F0D;
    margin: 50px auto;
    position: relative;
}
.active ul{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 82px;
    width: 86%;
}
.active ul li{
	float: left;
    width: 205px;
    height: 250px;
   
}


.active2{
    width: 80%;
    border-radius: 5px;
    margin: 150px auto;
    position: relative;
}
.active2 ul{
    perspective: 500px;
	transform-style: preserve-3d;
}
.active2 ul li{
	float: left;
    width: 50%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.active2 ul li a{
	display: inline-block;
}
.active2 ul li:nth-child(1),.active2 ul li:nth-child(4){
	background: #310F0D;
}
.active2 ul li:nth-child(2),.active2 ul li:nth-child(3){
	perspective: 500px;
}
.active2 .card1 ,.active2 .card2{
	transform-style: preserve-3d;
	transition: transform .7s ;
	width: 100%;
    height: 100%;
    position: relative;
}
.active2 .card1{
	transform-origin: left center; 
}
.active2 .card2{
	transform-origin: right center; 
}
.active2 .card1 .front,.active2 .card1 .back,.active2 .card2 .front,.active2 .card2 .back{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:cover ;
    backface-visibility: hidden;
}
.active2 .card1 .front{
	background-image: url(../img/lc.png);
}
.active2 .card1 .back{
	transform: rotateY(180deg);
	background-image: url(../img/cm.png);
}
.active2 .card2 .front{
	background-image: url(../img/ln.png);
}
.active2 .card2 .back{
	transform: rotateY(180deg);
	background-image: url(../img/cm.png);
}
.rotateXl{
	transform:translateX(100%) rotateY(180deg);
}
.rotateXr{
	transform:translateX(-100%) rotateY(180deg);
}

.active3{
    width: 80%;
    border-radius: 5px;
    margin: 150px auto;
    position: relative;
}
.active3 ul{
    
}
.active3 ul li{
	float: left;
    width: 33%;
    height: 250px;
    overflow: hidden;
    background: #FBD647;
    transform-style: preserve-3d;
}
.active3 ul li:nth-child(2){
	background: #310F0D;
}
.active3 ul li:nth-child(1),.active3 ul li:nth-child(3){
	perspective: 500px;
}
.active3 ul li .card1{
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}
.active3 ul li .card1 .card-clip{
	width: 100%;
	height: 100%;
}
.active3 ul li:hover .card-clip{
	animation: rotateY 1s cubic-bezier(.12,-0.32,.18,.4) infinite;
}
@keyframes rotateY{
	20%{
		transform: rotateX(20deg)
	}
	40%{
		transform: rotateX(-20deg)
	}
	60%{
		transform: rotateX(10deg)
	}
	80%{
		transform: rotateX(-10deg)
	}
	100%{
		transform: rotateX(0deg)
	}
}

.alert1{
    width: 60%;
    height: 500px;
    background: #310F0D;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    color: ;
}

.bouncein{
	animation:bouncein 1s ease;
}
.bounceout{
	animation:bounceout 1s ease;
}
@keyframes bouncein{
	0%{opacity:0;-webkit-transform:translateY(-100px);}
    60%{opacity:1;-webkit-transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
} 

@-webkit-keyframes bounceout{
    0%{-webkit-transform:translateY(0);}
    20%{opacity:1;-webkit-transform:translateY(-20px);}
    100%{opacity:0;-webkit-transform:translateY(100px);}
}


.w900 .ccc{
	margin: 20px auto;
	width: 80%;
	background: rgba(233,42,83,.5);
	border-radius: 10px;
	animation: translateX 1s ease-in-out 1;
}
.w900 .ccc h1 a{
    display: inline-block;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    padding: 0 20px;
    font-weight: 500;
}
.w900 .ccc p{
	padding: 0 20px;
}
@keyframes translateX{
	0%{
		opacity: 0;
	}
	70%{
		transform: translateY(3px);
	}
	85%{
		transform: translateY(-3px);
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.content{
	height: 700px;
	margin: 0 auto;
}
