@charset "utf-8";

html {font: 14px/1.5 'Microsoft Yahei', '微软雅黑', \5FAE\8F6F\96C5\9ED1, '宋体', \5b8b\4f53, arial, 'Hiragino Sans GB', Tahoma, Arial, Helvetica;color:#8d8d8d;overflow-x:hidden;}
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {margin:0;padding:0;}
img {border:none;width: 100%;height: auto;}
em ,i {font-style:normal;font-weight:normal;}
ul, ol, li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:inherit;font-weight:normal;}
input, select, textarea, button {outline:none;margin:0;padding:0;vertical-align:middle;font-family:"微软雅黑";font-size:14px;color:#8d8d8d;}
label,button {cursor: pointer;}
button{background: white;border: 1px solid #CCCCCC;border-radius: 2px;-moz-border-radius: 2px;-o-border-radius: 2px;-webkit-border-radius: 2px;}
input{font-size: 13px;text-indent: 2px;}
a {text-decoration:none;color:#8d8d8d;}
a:hover {text-decoration:none;color:#8d8d8d;}

input[type="submit"],input[type="reset"],input[type="button"],input,textarea {
   /* -webkit-appearance: none;*/
    resize: none;
}
*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   
    cursor: url(../img/gb.ico),auto;
}

.clear {clear:both;}
.clearfix:after {content:'';display:block;height:0;visibility:hidden;clear:both;}
.clearfix {zoom:1;}

.m20 {margin-top:20px;}
.m10 {margin-top:10px;}
.fl{float: left;}
.fr{float: right;}
/* 初始化CSS END */

/*开始导航*/
body{
	background-image:url(../img/gl2.jpg);
	background-size:cover ;
}
.index{
	background-image:linear-gradient(#000 ,#000),url(../img/gl2.jpg);
	background-size:cover ;
	background-blend-mode: hue;
}
.w1100{
	width: 900px;
	margin: 0 auto;
	background: #FEB822;
	min-height: 800px;
	overflow: hidden;
}
.w900{
	width: 900px;
	margin: 0 auto;
}

nav{
	background: #310F0D;
	position: sticky;
	top: 0;
    z-index: 2;
    height: 63px;
}
nav ul{
    width: 730px;
    position: absolute;
    left: 0;
    right: 0;
    top: 35px;
    bottom: 0;
    margin: auto;
    height: 50px;
}
nav ul li{
    float: left;
    margin: 0 1px;	
}
nav ul li a{
    width: 70px;
    height: 60px;
    display: inline-block;
    /* border: 2px solid #feb822; */
    border-radius: 50%;
    position: relative;
    background: #310F0D;
}
nav ul li a img{
	width: 100%;
}
nav li a:hover{
	animation:rotate 0.15s linear infinite;
}
@keyframes rotate {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
    background: #310F0D;
  }
}


.active2{
    width: 80%;
    border-radius: 5px;
    margin: 50px auto;
    position: relative;
}
.active2 ul{
    perspective: 500px;
	transform-style: preserve-3d;
}
.active2 ul li{
	float: left;
    width: 50%;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.active2 ul li a{
	display: inline-block;
}
.active2 ul li:nth-child(1),.active2 ul li:nth-child(4){
	background: #310F0D;
}
.active2 ul li:nth-child(2),.active2 ul li:nth-child(3){
	perspective: 500px;
    background: #FBD647;
}
.active2 .card1 ,.active2 .card2{
	transform-style: preserve-3d;
	transition: transform .7s ;
	width: 100%;
    height: 100%;
    position: relative;
}
.active2 .card1{
	transform-origin: left center; 
}
.active2 .card2{
	transform-origin: right center; 
}
.active2 .card1 .front,.active2 .card1 .back,.active2 .card2 .front,.active2 .card2 .back{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size:cover ;
    backface-visibility: hidden;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.active2 .card1 .front{
	background-image: url(../img/lc.png);
}
.active2 .card1 .back{
	transform: rotateY(180deg);
	background-image: url(../img/cm.png);
}
.active2 .card2 .front{
	background-image: url(../img/ln.png);
}
.active2 .card2 .back{
	transform: rotateY(180deg);
	background-image: url(../img/cm.png);
}
.rotateXl{
	transform:translateX(100%) rotateY(180deg);
}
.rotateXr{
	transform:translateX(-100%) rotateY(180deg);
}

.active3{
    width: 80%;
    border-radius: 5px;
    margin: 50px auto;
    position: relative;
}
.active3 ul{
    
}
.active3 ul li{
	float: left;
    width: 33%;
    height: 250px;
    overflow: hidden;
    background: #FBD647;
    transform-style: preserve-3d;
}
.active3 ul li:nth-child(2){
	background: #310F0D;
}
.active3 ul li:nth-child(1),.active3 ul li:nth-child(3){
	perspective: 500px;
}
.active3 ul li .card1{
	transform-style: preserve-3d;
	width: 100%;
	height: 100%;
}
.active3 ul li .card1 .card-clip{
	width: 100%;
	height: 100%;
}
.active3 ul li:hover .card-clip{
	animation: rotateY 1s cubic-bezier(.12,-0.32,.18,.4) infinite;
}
@keyframes rotateY{
	20%{
		transform: rotateX(20deg)
	}
	40%{
		transform: rotateX(-20deg)
	}
	60%{
		transform: rotateX(10deg)
	}
	80%{
		transform: rotateX(-10deg)
	}
	100%{
		transform: rotateX(0deg)
	}
}

.alert1{
    width: 60%;
    height: 500px;
    background: #310F0D;
    border-radius: 5px;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    color: ;
}

.bouncein{
	animation:bouncein 1s ease;
}
.bounceout{
	animation:bounceout 1s ease;
}
@keyframes bouncein{
	0%{opacity:0;-webkit-transform:translateY(-100px);}
    60%{opacity:1;-webkit-transform:translateY(30px);}
    80%{-webkit-transform:translateY(-10px);}
    100%{-webkit-transform:translateY(0);}
} 

@-webkit-keyframes bounceout{
    0%{-webkit-transform:translateY(0);}
    20%{opacity:1;-webkit-transform:translateY(-20px);}
    100%{opacity:0;-webkit-transform:translateY(100px);}
}


.w900 .ccc{
	margin: 20px auto;
	width: 80%;
	background: rgba(254,184,34,.8);
	border-radius: 10px;
	animation: translateX 1s ease-in-out 1;
	padding: 20px;
}
.ccc:nth-child(2){
	animation-delay:0.5s ;
}
.ccc:nth-child(3){
	animation-delay:0.8s ;
}
.ccc:nth-child(4){
	animation-delay:1s ;
}
.ccc.cch{
	background: rgba(49,15,13,.8);
}
.w900 .ccc h1 a{
	display: inline-block;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.w900 .ccc p{
    padding-top: 20px;
    color: white;
}
@keyframes translateX{
	0%{
		opacity: 0;
	}
	70%{
		transform: translateY(3px);
	}
	85%{
		transform: translateY(-3px);
	}
	100%{
		transform: translateY(0px);
		opacity: 1;
	}
}

.content{
	height: 700px;
	margin: 0 auto;
    overflow: hidden;
    color: black;
}
.content h1{
	margin: 20px auto;
    width: 70%;
    font-size: 22px;
    color: white;
}
.content p{
	white-space: pre-wrap;
    margin: 0 auto;
    width: 70%;
    color: white;
}


.bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.bg-bubbles li {
  position: absolute; /*的设置是为了营造出气泡从页面底部冒出的效果；*/
  bottom: -160px; /*默认的气泡大小；*/
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: inset 2px 2px 15px 3px rgba(255,255,255,0.5);
  list-style: none;/*使用自定义动画使气泡渐现、上升和翻滚；*/
  animation: square 15s infinite;/*分别设置每个气泡不同的位置、大小、透明度和速度，以显得有层次感；*/
}
.bg-bubbles li:before{
	content: '';
	display: inline-block;
    width: 14%;
    height: 14%;
	position: absolute;
	left: 23%;
	bottom: 27%;
	border-radius: 50%;
	background: rgba(255,255,255,0.1);
	box-shadow: inset 2px 2px 2px -2px rgba(255,255,255,.8);
}
.bg-bubbles li:after{
	content: '';
	display: inline-block;
    width: 3%;
    height: 3%;
	position: absolute;
	left: 27%;
	bottom: 50%;
	border-radius: 50%;
	background: rgba(255,255,255,0.4);
}
    /*自定义 square 动画；*/
.bg-bubbles li:nth-child(1) {
    left: 10%;
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 90px;
    height: 90px;
    animation-delay: 2s;
    animation-duration: 7s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 8s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(5) {
    left: 70%;
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 2s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 15s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
    left: 85%;
    width: 160px;
    height: 160px;
    animation-delay: 5s;
}
@keyframes square {
    0% {
        opacity: 0.5;
        transform: translateY(0px) rotate(45deg);
    }
    25% {
        opacity: 0.75;
        transform: translateY(-400px) rotate(90deg)
    }
    50% {
        opacity: 1;
        transform: translateY(-600px) rotate(135deg);
    }
    100% {
        opacity: 0;
        transform: translateY(-1000px) rotate(180deg);
    }
}
